bower_components/

/node_modules/*

!/node_modules/@mapbox
/node_modules/@mapbox/mapbox-gl-geocoder/*
!/node_modules/@mapbox/mapbox-gl-geocoder/dist

!/node_modules/mapbox
/node_modules/mapbox/*
!/node_modules/mapbox/dist

!/node_modules/mapbox-gl
/node_modules/mapbox-gl/*
!/node_modules/mapbox-gl/dist
